@model Asp.netCoreMVCCrud1.Models.Project

@{
    ViewData["Title"] = "Create";
}



<h4>Project form</h4>
<hr />
<div class="row">
    <div class="col-md-auto">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" /> <!--The asp-for is a way of saying "the control for" i think-->
            <div class="form-group">
                <label asp-for="ArticleHeadline" class="control-label"></label>
                <input asp-for="ArticleHeadline" class="form-control" />
                <span asp-validation-for="ArticleHeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleUrl" class="control-label"></label>
                <input asp-for="ArticleUrl" class="form-control" value="" />
                <span asp-validation-for="ArticleUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleDescription" class="control-label"></label>
                <input asp-for="ArticleDescription" class="form-control" />
                <span asp-validation-for="ArticleDescription" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-auto">
                    <label asp-for="ArticleDate" class="control-label"></label>
                    <input type="date" value="<?php echo $today; ?>" class="form-control" id="date" name="date" asp-for="ArticleDate" />
                    <span asp-validation-for="ArticleDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-auto">
                    <label asp-for="Confidentiality" class="control-label"></label>
                    <select asp-for="Confidentiality" class="browser-default custom-select col-md-auto">
                        <option selected>Is this confidential?</option>
                        <!--Add the for each from previous drop downs later-->
                        <option>Non-confidential</option>
                        <option>Confidential</option>
                    </select>
                    <span asp-validation-for="Confidentiality" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-auto">
                    <label asp-for="OrganizationId" class="control-label"></label>
                    <select asp-for="OrganizationId" class="browser-default custom-select col-md-auto">
                        <option selected>Pick your organization</option>
                        @foreach (var item in Model.OrganizationList)
                        {
                            <option value="@item.OrganizationId">@Html.DisplayFor(modelitem => item.OrganizationId).  @Html.DisplayFor(modelitem => item.OrganizationName)</option>
                        }
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span asp-validation-for="OrganizationId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-auto">
                    <label asp-for="Country" class="control-label"></label>
                    <select asp-for="Country" class="browser-default custom-select col-md-auto">
                        <option selected>Pick your Country</option>
                        <!--Add the for each from previous drop downs later-->
                        <option>Two</option>
                        <option>Three</option>
                    </select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group col-md-auto">
                    <label asp-for="IndustryId" class="control-label"></label>
                    <select asp-for="IndustryId" class="browser-default custom-select col-md-auto">
                        <option selected>Pick your Industry</option>
                        @foreach (var item in Model.IndustryList)
                        {
                            <option value="@item.IndustryId">@Html.DisplayFor(modelitem => item.IndustryId).  @Html.DisplayFor(modelitem => item.IndustryName)</option>
                        }
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span asp-validation-for="IndustryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-auto">
                    <label asp-for="UseCaseId" class="control-label"></label>
                    <select asp-for="UseCaseId" class="browser-default custom-select col-md-auto">
                        <option selected>Pick your Use Case</option>
                        @foreach (var item in Model.UsecaseList)
                        {
                            <option value="@item.UsecaseId">@Html.DisplayFor(modelitem => item.UsecaseId).  @Html.DisplayFor(modelitem => item.UsecaseName)</option>
                        }
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span asp-validation-for="UseCaseId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-auto">
                    <label asp-for="Maturity" class="control-label"></label>
                    <select asp-for="Maturity" class="browser-default custom-select col-md-auto">
                        <option selected>Pick the maturity</option>
                        <!--Add the for each from previous drop downs later-->
                        <option>Two</option>
                        <option>Three</option>
                    </select>
                    <span asp-validation-for="Maturity" class="text-danger"></span>
                </div>
                <div class="form-group col-md-auto">
                    <label asp-for="TechnicalVendor" class="control-label"></label>
                    <input asp-for="TechnicalVendor" class="form-control" />
                    <span asp-validation-for="TechnicalVendor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
