@using ChartJSCore.Models;

@{
    ViewData["Title"] = "DataAnalysis";

    Chart barChartForUsecase = (Chart)ViewData["BarChartForUsecase"];
    Chart barChartForMaturity = (Chart)ViewData["BarChartForMaturity"];
    Chart barChartForYearOnYear = (Chart)ViewData["BarChartForYearOnYear"];
    Chart barChartForIndustry = (Chart)ViewData["BarChartForIndustry"];
    Chart lineChart = (Chart)ViewData["LineChart"];
    Chart lineScatterChart = (Chart)ViewData["LineScatterChart"];
    Chart radarChart = (Chart)ViewData["RadarChart"];
    Chart polarChart = (Chart)ViewData["PolarChart"];
    Chart pieChart = (Chart)ViewData["PieChart"];
    Chart liveLineChart = (Chart)ViewData["LineChart"];
    Chart nestedDoughnutChart = (Chart)ViewData["NestedDoughnutChart"];
}



<h2>BcTracker Data Analysis</h2>

<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Projects by year Breakdown</h5>
            <canvas id="barChartForYearOnYear"></canvas>

        </div>
    </div>

    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Industry Breakdown</h5>
            <canvas id="barChartForIndustry"></canvas>

        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Use case Breakdown</h5>
            <canvas id="barChartForUsecase"></canvas>

        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Maturity Breakdown</h5>
            <canvas id="barChartForMaturity"></canvas>
        </div>
    </div>


</div>
<!--
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Maturity Breakdown</h5>
            <canvas id="lineScatterChart"></canvas>

        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Use case Breakdown</h5>
            <canvas id="radarChart"></canvas>

        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Polar Chart</h5>
            <canvas id="polarChart"></canvas>

        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Pie Chart</h5>
            <canvas id="pieChart"></canvas>

        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Live Line Chart</h5>
            <canvas id="liveLineChart"></canvas>

        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Nested Doughnut Chart</h5>
            <canvas id="nestedDoughnutChart"></canvas>

        </div>
    </div>
</div>
-->
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script type="text/javascript">
        @Html.Raw(barChartForUsecase.CreateChartCode("barChartForUsecase"));
    </script>
    <script type="text/javascript">
        @Html.Raw(barChartForMaturity.CreateChartCode("barChartForMaturity"));
    </script>
    <script type="text/javascript">
        @Html.Raw(barChartForYearOnYear.CreateChartCode("barChartForYearOnYear"));
    </script>
    <script type="text/javascript">
        @Html.Raw(barChartForIndustry.CreateChartCode("barChartForIndustry"));
    </script>
    <script type="text/javascript">
        @Html.Raw(lineChart.CreateChartCode("lineChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(lineScatterChart.CreateChartCode("lineScatterChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(radarChart.CreateChartCode("radarChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(polarChart.CreateChartCode("polarChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(pieChart.CreateChartCode("pieChart"));
    </script>

    <script type="text/javascript">
        @Html.Raw(nestedDoughnutChart.CreateChartCode("nestedDoughnutChart"));
    </script>
}