@model IEnumerable<Asp.netCoreMVCCrud1.Models.Project>


@{
    ViewData["Title"] = "Index";
}

    <style>
        .hidden {
            display: none;
        }

        .unhidden {
            display: block;
        }
    </style>





    <div class="form-row" style="display:flex; justify-content:space-between">
        @using (Html.BeginForm("import", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="input-group">
                <div class="custom-file">
                    <input type="file" name="formFile" class="custom-file-input" id="file" onchange="activateImportButton(), GetFileName()" >
                    <label class="custom-file-label" for="inputGroupFile04"  id="fileLabel"></label>
                </div>
                <div class="input-group-append" id="importDiv">
                    <button class="btn btn-info " type="submit" id="importButton" disabled >Import</button>
                </div>
            </div>
        }


        <a asp-action="FileReport" asp-controller="Project">
            <i class="fa fa-file-excel" style="font-size:30px;color:forestgreen">  <i class="fa fa-download"></i></i>

        </a>

    </div>

    <div>
        <a asp-action="DataAnalysis" class="btn btn-succes"><i class="fa fa-plus-square"></i>Analysis</a>
    </div>



<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleHeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndustryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UseCaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maturity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalVendor)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-succes"><i class="fa fa-plus-square"></i>Project</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleHeadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Organization.OrganizationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Industry.IndustryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usecase.UsecaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maturity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TechnicalVendor)
                </td>
                <td>
                    <!-- <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |-->
                    <a asp-action="AddOrEdit" asp-route-id="@item.ProjectId"><i class="fa fa-marker fa-lg"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                    <!--The following delete function will call the action method (asp="**") called "Delete" and send with it/passing the corresponding projectid
                    into an id parametre
                    The onclick="confirm" is an javascript function that will prompt an confirm text box-->
                    <a asp-action="Delete" asp-route-id="@item.ProjectId" class="text-danger ml-1" onclick="return confirm('Are you sure you want to delete this project?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script>
    document.getElementById("inputGroupFile04").addEventListener("change", activateImportButton);


    function activateImportButton() {
        
        document.getElementById("importButton").removeAttribute("disabled")
    }

  

    function GetFileName(){
          // Get your file input (by it's id)
          var fileInput = document.getElementById('file');
          // Use a regular expression to pull the file name only
          var fileName = fileInput.value.split(/(\\|\/)/g).pop();
            // Alert the file name (example)
            document.getElementById("fileLabel").innerHTML=fileName;
    }

</script>
