@model IEnumerable<Asp.netCoreMVCCrud1.Models.Organization>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrganizationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrganizationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrganizationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
