@model IEnumerable<Asp.netCoreMVCCrud1.Models.Industry>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndustryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndustryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IndustryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndustryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector.SectorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IndustryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IndustryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IndustryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
